<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="page">
    <h3>Калькулятор</h3>
    <p>Введите два числа чтобы получить их произведение и нажмите вычислить</p>
    <form>
        <input class="input__control" name="arg1">
        <input class="input__control" name="arg2">
        <button type="submit">Вычислить</button>
    </form>
    <%= result %>
</body>
</html>